/** STYLES 4 ALL */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centerDiv
{

    display: flex;
    justify-content: center;
    align-items: center;
}


/* ===================================
                            KEYFRAMES
======================================*/


/*! ===================================
                    TAILWIND IMPORTS
======================================*/

@tailwind base;
@tailwind components;
@tailwind utilities;


/*! +++++++++++++++ */

.leaflet-container
{

    position: relative;
    width: 100wv;
    height: 450px;
}

.mapSpinner
{
    z-index: 1000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leaflet-popup-content-wrapper
{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 250px;
}

.leaflet-popup-content
{
    margin: 0 5px 5px 5px;
}

.leaflet-popup-content p
{
    margin: 0;
}

.artInfoPlace
{
    color: rgb(0, 0, 0);
}


.artInfoPlace .container
{
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    gap: 5px;
    justify-items: left;
    align-content: start;
}

.artInfoPlace button:hover
{
    background-color: rgb(249, 244, 237);
}

.contPopup {
    grid-template-columns: 0.1fr 0.9fr;
}

.contClock{
    grid-template-columns: 0.9fr 0.1fr;
}

/*! +++++++++++++++ */